.form-container{
   font-size: 16px;
   font-family: sans-serif;
   position: relative;
   margin: 5% auto;
   height: 500px;
   width: 650px;
   background: white;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.form-container .left-box{
   box-sizing: border-box;
   padding: 40px;
   width: 350px; 
   box-shadow: -5px 0 15px -10px #333;  
}

.right-box{
   position: absolute;
   top: 0;
   right: 0;
   box-sizing: border-box;
   padding: 40px;
   width: 240px;
    /* background-image: url('https://images.pexels.com/photos/1449773/pexels-photo-1449773.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500'); */
    /* background-size: cover;
    background-position: center; */
}

.sigupForm{
    background-color:white;
    width:300px;
    height:500px;
    border-radius:15px;
    position:absolute;
    left:370px;
    display:inline-block;
 }

.left-box .form-control{
    margin: 28px 0px 20px;
    height: 40px;
    padding: 6px 15px;
    border-radius: 20px;
    outline: none;
    border: none;
    background: #F6F7F9;
    color: #748194;
    font-size: 14px;
 }

.signUp{
    font-weight: bold;
    width: 230px;
    margin: 0 35px 20px ;
    height: 45px;
    padding: 6px 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #EE9BA3;   
    color: white;
    font-size: 14px;
}
